@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 90%;
  margin: auto;
  text-align: center;
}

input {
  border: none;
  outline: none;
  margin-top: 5%;
  width: 33%;
  border-bottom: 1px solid;
  font-size: 24px;
  line-height: 36px;
}

.results {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 30%;
  min-height: 225px;
  margin: 5% auto;
  outline: 1px solid;
}

.post > * {
  padding: 10px;
}

.post > p:first-of-type {
  font-weight: 700;
}

.post > textarea {
  margin: 10px auto;
  width: 75%;
  min-height: 22%;
  font-size: 14px;
  outline: 0;
}

.post > button {
  width: 75%;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: rgba(53, 190, 224, 0.8);
  border-radius: 6px;
  color: #FFF;
  font-weight: 600;
}